# Testnet Configuration
NETUID=165
SUBTENSOR_NETWORK=test
SUBTENSOR_ADDRESS=wss://test.finney.opentensor.ai:443

# Mainnet Configuration (uncomment when ready)
# NETUID=59
# SUBTENSOR_NETWORK=finney
# SUBTENSOR_ADDRESS=wss://entrypoint-finney.opentensor.ai:443

# Miner (Agent) Configuration

## Wallet Settings
WALLET_NAME=<wallet_name>
HOTKEY_NAME=<hotkey_name>
MINER_PORT=8082

## Miner Information
SOME_INFO=information_to_send_to_validator

## TEE address (for proxy)
MINER_TEE_ADDRESS=<your-tee-address>

## Metagraph Settings
MIN_STAKE_THRESHOLD=0

# Validator Configuration

## Wallet Settings
VALIDATOR_WALLET_NAME=<wallet_name>
VALIDATOR_HOTKEY_NAME=<hotkey_name>
VALIDATOR_PORT=8081

## API Base Url
API_URL=https://test.protocol-api.masa.ai

# System Configuration
DEBUG=false  # Set to 'true' to enable debug logging